<html>
  <head>
    <title>RPC Client Example</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js" integrity="sha512-WFN04846sdKMIP5LKNphMaWzU7YpMyCU245etK3g/2ARYbPK9Ub18eG+ljU96qKRCWh+quCY7yefSmlkQw1ANQ==" crossorigin="anonymous"></script>

    <!--    https://github.com/pgrabovets/json-view -->
    <script src="./json-view.js"></script>
    <link rel="stylesheet" href="./json-view.css" />
  </head>

  <body>
    <h1>RPC Client Example</h1>

    <div class='logs-container table-responsive'>
      <table class='table table-striped'>
        <thead>
          <tr>
            <th>Scope</th>
            <th>Procedure</th>
            <th>Version</th>
            <th>Request</th>
            <th>Response</th>
          </tr>
        </thead>

        <tbody>

        </tbody>
      </table>
    </div>

    <script id='call-row-template' type='text/x-handlebars-template'>
      <tr>
        <td><%= scope %></td>
        <td><%= procedure %></td>
        <td><%= version %></td>
        <td class='request' data-correlationid='<%= correlationId %>'></td>
        <td class='response' data-correlationid='<%= correlationId %>'></td>
      </tr>
    </script>

    <script src="../dist/index.js" type="module"></script>
    <script src="./client.js" type="module"></script>
  </body>
</html>
